<div class="container font-xlarge">
    <h4 class="position-center" style="text-align: center;">Welcome to the remote file execution system </h4>
    <br><br>
    This system allows a user to execute a program file without the hassle of installing and configuring the related dependencies. Just click on the program, upload your file and press run. The output is then visible in the output window.
    <br><br><br><br>
  
    
  </div>
  <div class="container" style="display: flex;flex-direction: row;justify-content: space-around;">
    <div class="card" style="width: 18rem;">
      <img src="../assets/java_logo.png" class="card-img-top" alt="Java logo">
      <div class="card-body">
        <h5 class="card-title">Java Program</h5>
        <p class="card-text">Use the button below to submit and execute java programs to the server</p>
        <a routerLink="/servers/java" class="btn btn-primary">Submit java file</a>
      </div>
    </div>
  
    <div class="card" style="width: 18rem;">
      <img src="../assets/python_logo.png" class="card-img-top" alt="Java logo">
      <div class="card-body">
        <h5 class="card-title">Python Program</h5>
        <p class="card-text">Use the button below to submit and execute python programs to the server</p>
        <a routerLink="/servers/python" class="btn btn-primary">Submit python file</a>
      </div>
  </div>
  