/* You can add global styles to this file, and also import other style files */
body{
    font-family: sans-serif;
}

.font-xlarge{
    font-size: x-large;
}

.position-center {
    justify-content: center !important;
}

.display-flex {
    display: flex;
    flex-direction: column;
}